<a href="https://colab.research.google.com/github/oscarvilla/blog_entries_analysis/blob/master/upload_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Inicio
Lo primero es cargar las librerías que vamos a necesitar; de acuerdo con el método presentado en
https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92

In [1]:
import pandas as pd
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [15]:
!pip install langdetect
from langdetect import detect

Collecting langdetect
  Downloading https://files.pythonhosted.org/packages/59/59/4bc44158a767a6d66de18c4136c8aa90491d56cc951c10b74dd1e13213c9/langdetect-1.0.7.zip (998kB)
    100% |████████████████████████████████| 1.0MB 22.9MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from langdetect) (1.11.0)
Building wheels for collected packages: langdetect
  Building wheel for langdetect (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/ec/0c/a9/1647275e7ef5014e7b83ff30105180e332867d65e7617ddafe
Successfully built langdetect
Installing collected packages: langdetect
Successfully installed langdetect-1.0.7

## Vamos a importar desde Drive mismo.

In [2]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

    100% |████████████████████████████████| 993kB 20.9MB/s
  Building wheel for PyDrive (setup.py) ... done

Una vez que hemos obtenido el link para compartir el archivo que vamos a importar, lo pegamos aquí (sólo se cambia si cambiamos el archivo)

In [0]:
link = 'https://drive.google.com/open?id=1GjWbMO139LNna2bZbUShmWhPZ06J8hKc' # The shareable link

Dado que lo que se quiere es la parte del id, lo separamos

In [4]:
fluff, id = link.split('=')
print (id) # Verify that you have everything after '='

1GjWbMO139LNna2bZbUShmWhPZ06J8hKc

Y para importar el csv como data frame de Pandas

In [0]:
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('blogtext.csv')  
df = pd.read_csv('blogtext.csv')

Veamos las primeas filas del archivo importado

In [6]:
df[0:6]

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...
5,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",I had an interesting conversation...

Para hacer pruebas, tomamos una submuestra del total.

In [0]:
df2 = df[0:29]

En 'sia' instaciamos el Sentiment Intensity Analyzer, que es al que el iterarador le va a pasar cada texto para que nos devuelva el análisis de la intensidad de sentimientos en él: 
- pos: proporción de positividad del texto [0, 1]
- neu: proporción de neutralidad del texto [0, 1]
- neg: proporción de negatividad del texto [0, 1]
Los tres suman 1
- compound: la combinación de los tres anteriores que arroja un número entre [-1, 1] extremadamente negativo y extremadamente positivo, respectivamente.

In [0]:
sia = SIA()
results = []

for n in df2['text']:
    pol = sia.polarity_scores(n)
    pol['text'] = n
    results.append(pol)

Aquí vemos los resultados. Lo que de paso nos permite observar que hay entradas de texto que no están en inglés (están en holandés). En lo que sigo trato de ver el idioma

In [0]:
df[df]

In [45]:
responses = []

for n in df['text']:
  if detect(n) == 'en':
    res = 1
  else:
    res = 0
  responses.append(res)

LangDetectException: ignored

In [44]:
sum(responses) / len(responses)

0.9655172413793104

In [13]:
results = pd.DataFrame(results)           
results

,compound,neg,neu,pos,text
0,0.0000,0.000,1.000,0.000,"Info has been found (+/- 100 pages,..."
1,0.0000,0.000,1.000,0.000,These are the team members: Drewe...
2,-0.8167,0.090,0.814,0.097,In het kader van kernfusie op aarde...
3,0.0000,0.000,1.000,0.000,testing!!! testing!!!
4,0.8805,0.000,0.841,0.159,Thanks to Yahoo!'s Toolbar I can ...
5,0.9847,0.040,0.874,0.086,I had an interesting conversation...
6,0.8929,0.078,0.787,0.136,Somehow Coca-Cola has a way of su...
7,0.7430,0.073,0.842,0.085,"If anything, Korea is a country o..."
8,-0.8248,0.101,0.804,0.095,Take a read of this news article ...
9,-0.5588,0.099,0.827,0.073,I surf the English news sites a l...
10,0.9869,0.017,0.855,0.127,"Ah, the Korean language...it look..."
11,0.9637,0.023,0.906,0.071,If you click on my profile you'll...
12,0.9864,0.034,0.875,0.092,Last night was pretty fun...mostl...
13,0.3612,0.000,0.958,0.042,There is so much that is differen...
14,0.9396,0.038,0.875,0.086,"urlLink Here it is, the super..."
15,0.9960,0.028,0.805,0.167,One thing I love about Seoul (and...
16,-0.5374,0.134,0.767,0.099,urlLink Wonderful oh-gyup-sal...
17,0.9735,0.000,0.862,0.138,Here is the latest from the Korea...
18,0.9978,0.034,0.773,0.193,"Well, I stand corrected, again. ..."
19,0.9986,0.030,0.829,0.141,So I've been in Vancouver a few d...
20,0.9867,0.017,0.895,0.088,Whenever I see a pregnant Korean ...
21,0.9852,0.045,0.831,0.124,My wife posed a strange question ...
22,0.9849,0.016,0.887,0.097,"As readers will know, my favorite..."
23,-0.2524,0.061,0.863,0.076,When I was in Seoul these last fe...
24,0.9217,0.000,0.899,0.101,You may have noticed a new featur...
25,0.8804,0.085,0.817,0.098,"Korea, especially Seoul, is prett..."
26,-0.7684,0.063,0.937,0.000,It seems everything is not all th...
27,0.9985,0.027,0.847,0.127,This may be a long blog...got a l...
28,0.9766,0.021,0.865,0.114,I've always thought of Seoul's u...

In [0]:
results['label'] = 0 # todos los resultados a cero por defecto (neutro)
results.loc[results['compound'] > 0.2, 'label'] = 1 # positivo si > 0.2
results.loc[results['compound'] < -0.2, 'label'] = -1 # negativo si < -0.2
results

,compound,neg,neu,pos,text,label
0,0.0000,0.000,1.000,0.000,"Info has been found (+/- 100 pages,...",0
1,0.0000,0.000,1.000,0.000,These are the team members: Drewe...,0
2,-0.8167,0.090,0.814,0.097,In het kader van kernfusie op aarde...,-1
3,0.0000,0.000,1.000,0.000,testing!!! testing!!!,0
4,0.8805,0.000,0.841,0.159,Thanks to Yahoo!'s Toolbar I can ...,1
5,0.9847,0.040,0.874,0.086,I had an interesting conversation...,1
6,0.8929,0.078,0.787,0.136,Somehow Coca-Cola has a way of su...,1
7,0.7430,0.073,0.842,0.085,"If anything, Korea is a country o...",1
8,-0.8248,0.101,0.804,0.095,Take a read of this news article ...,-1
9,-0.5588,0.099,0.827,0.073,I surf the English news sites a l...,-1
10,0.9869,0.017,0.855,0.127,"Ah, the Korean language...it look...",1
11,0.9637,0.023,0.906,0.071,If you click on my profile you'll...,1
12,0.9864,0.034,0.875,0.092,Last night was pretty fun...mostl...,1
13,0.3612,0.000,0.958,0.042,There is so much that is differen...,1
14,0.9396,0.038,0.875,0.086,"urlLink Here it is, the super...",1
15,0.9960,0.028,0.805,0.167,One thing I love about Seoul (and...,1
16,-0.5374,0.134,0.767,0.099,urlLink Wonderful oh-gyup-sal...,-1
17,0.9735,0.000,0.862,0.138,Here is the latest from the Korea...,1
18,0.9978,0.034,0.773,0.193,"Well, I stand corrected, again. ...",1
19,0.9986,0.030,0.829,0.141,So I've been in Vancouver a few d...,1
20,0.9867,0.017,0.895,0.088,Whenever I see a pregnant Korean ...,1
21,0.9852,0.045,0.831,0.124,My wife posed a strange question ...,1
22,0.9849,0.016,0.887,0.097,"As readers will know, my favorite...",1
23,-0.2524,0.061,0.863,0.076,When I was in Seoul these last fe...,-1
24,0.9217,0.000,0.899,0.101,You may have noticed a new featur...,1
25,0.8804,0.085,0.817,0.098,"Korea, especially Seoul, is prett...",1
26,-0.7684,0.063,0.937,0.000,It seems everything is not all th...,-1
27,0.9985,0.027,0.847,0.127,This may be a long blog...got a l...,1
28,0.9766,0.021,0.865,0.114,I've always thought of Seoul's u...,1
29,0.9666,0.010,0.952,0.038,Big cities are famous for being e...,1

In [0]:
df = df2.join(results, lsuffix='_orig', rsuffix='_res').drop(labels = ['text_res', 'neg', 'neu', 'pos'], axis = 1)
df

,id,gender,age,topic,sign,date,text_orig,compound,label
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",0.0000,0
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...,0.0000,0
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,-0.8167,-1
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!,0.0000,0
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,0.8805,1
5,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",I had an interesting conversation...,0.9847,1
6,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",Somehow Coca-Cola has a way of su...,0.8929,1
7,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004","If anything, Korea is a country o...",0.7430,1
8,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",Take a read of this news article ...,-0.8248,-1
9,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",I surf the English news sites a l...,-0.5588,-1
10,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004","Ah, the Korean language...it look...",0.9869,1
11,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",If you click on my profile you'll...,0.9637,1
12,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",Last night was pretty fun...mostl...,0.9864,1
13,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",There is so much that is differen...,0.3612,1
14,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004","urlLink Here it is, the super...",0.9396,1
15,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",One thing I love about Seoul (and...,0.9960,1
16,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",urlLink Wonderful oh-gyup-sal...,-0.5374,-1
17,3581210,male,33,InvestmentBanking,Aquarius,"18,June,2004",Here is the latest from the Korea...,0.9735,1
18,3581210,male,33,InvestmentBanking,Aquarius,"17,June,2004","Well, I stand corrected, again. ...",0.9978,1
19,3581210,male,33,InvestmentBanking,Aquarius,"16,June,2004",So I've been in Vancouver a few d...,0.9986,1
20,3581210,male,33,InvestmentBanking,Aquarius,"15,June,2004",Whenever I see a pregnant Korean ...,0.9867,1
21,3581210,male,33,InvestmentBanking,Aquarius,"14,June,2004",My wife posed a strange question ...,0.9852,1
22,3581210,male,33,InvestmentBanking,Aquarius,"13,June,2004","As readers will know, my favorite...",0.9849,1
23,3581210,male,33,InvestmentBanking,Aquarius,"23,June,2004",When I was in Seoul these last fe...,-0.2524,-1
24,3581210,male,33,InvestmentBanking,Aquarius,"22,June,2004",You may have noticed a new featur...,0.9217,1
25,3581210,male,33,InvestmentBanking,Aquarius,"20,June,2004","Korea, especially Seoul, is prett...",0.8804,1
26,3581210,male,33,InvestmentBanking,Aquarius,"02,July,2004",It seems everything is not all th...,-0.7684,-1
27,3581210,male,33,InvestmentBanking,Aquarius,"01,July,2004",This may be a long blog...got a l...,0.9985,1
28,3581210,male,33,InvestmentBanking,Aquarius,"01,July,2004",I've always thought of Seoul's u...,0.9766,1
29,3581210,male,33,InvestmentBanking,Aquarius,"30,June,2004",Big cities are famous for being e...,0.9666,1